<main>
    <h1>Suggest an Activity</h1>
    <div id="edit-form" class="activities-container-show">

        <form action="/users/{{user._id}}/activities" method="POST">
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="description">Description: </label>
                <input type="text" name="description">
            </div>
            <div>
                <label for="location">Location: </label>
                <input type="text" name="location">
            </div>
            <div>
                <label for="price">Price: </label>
                <input type="text" name="price">
            </div>
            <button type="submit">Submit Activity</button>
        </form>
    </div>
</main>