<main class="mt-4">
    <h1>Activities Suggested By Users</h1>
    <div class="container">
         <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{activities.name}}</h5>
                <p class="card-text">{{activities.location}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{activities.type}}</li>
                <li class="list-group-item">{{activities.review}}</li> 
            </ul>
        </div>
    </div>
</main>
