<br>
<h1 class="text-light">Welcome to {{title}}</h1>
<br>
<h5 class="text-light">You love to travel, but you don't enjoy crowds, tourist traps, and wastes of time. You'd like a better travel experience, but you don't have the time to crawl through hundreds of suggested activities, restaurants, sites, and things to do before you figure out your plans, and you don't have unlimited time or budget to just wing it.
    <br>
    <br> So you came to Itinerator. Great choice. </h5>
    <br>
    <h5> I created Itinerator so that you and people like you can quickly navigate to a city, view some suggested things to do, and come away feeling confident that your trip itinerary was in good hands. Maybe you'll tell your friends. Why not make traveling easier?</h5>

