<br>
<h1 class="text-light">Welcome to {{title}}</h1>
<p class="text-light">Select any of the links to view a list of things to do in each city</p>
<p class="text-light">Don't see your city listed? Add it <a href="cities/new">here</a> and suggest an activity</p>
