<main>
<div>
  <h2 class"text-white">Don't see your favorite city?</h2>
      <br>
       <h2 class"text-white">Want to suggest something to do in a city that's already listed?</h2>
       <br>
       <h2 class"text-white">Submit your suggestion here!</h2>
      </div>
      <br>

       

  <a href="/">Return to Home Page</a>

  <div id="edit-form" class="cities-container-show">

    <form action="/" method="POST">
      <div>
        <label for="city-name">City Name: </label>
        <input type="text" name="title">
      </div>
      <div>
        <label for="thing-to-do">Thing To Do: </label>
        <input type="text" name="thing-to-do">
      </div>
      <div>
        <label for="description">Describe Your Thing To Do: </label>
        <input type="text" name="description">
      </div>
      <div>
        <label for="location">Location: </label>
        <input type="text" name="location">
      </div>
	  <div>
        <label for="img">img: </label>
        <input type="text" name='img'>
      </div>
	  <br>
      <button type="submit"><a href="/">Submit Suggestion!</a>
      </button>
    </form>

  </div>
</main>